@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;1,100&display=swap');

* {
    box-sizing: border-box;
}

#page {
    padding-top: 0;
}

body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcfbfb;
}

.container {
    margin: 0 auto;
    max-width: 1315px;
    padding: 0 15px;
    width: 100%;
}

header {
    background-color: darkgray;
    width: 100%;
}

.header-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
}

.jotha-logo-container {
    display: inline;
}

.jotha-logo {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.main-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0;
    margin: 0;
}

.main-menu-item {
    text-decoration: none;
    display: inline;
    margin-left: 30px;
}

.main-menu-item a {
    color: #fff;
    position: relative;
    text-decoration: none;
}


/* Services Page */
.items-container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 8%;
    grid-row-gap: 60px;
}

.item-title {
    margin: 0;
    font-size: 3em;
    color: dodgerblue;
}

.item-content {
    font-size: 20px;
}

.item-image {
    width: 100%;
    height: 65%;
}

#hamburgerId {
    display: none;
}

/* MOBILE CSS */

@media only screen and (max-width: 999px) {
    header.is-active {
        height: 101vh;
        position: fixed;
        top: 0%;
    }

    .header-container {
        display: inline-block;
    }

    header nav {
        justify-content: center;
    }

    .main-menu {
        list-style: none;
        position: relative;
    }

    ul.main-menu {
        display: none;
        flex-direction: column;
        padding: 0 0 55px;
        margin-top: 40px;
    }

    ul.main-menu.is-active {
        display: flex;
        align-items: center;
    }

    .main-menu-item {
        margin: 0 0 30px 0;
    }

    .hamburger {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #hamburgerId {
        display: inline-block;
    }

}