@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;1,100&display=swap');

* {
    box-sizing: border-box;
}

#page {
    padding-top: 0;
}

body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcfbfb;
}

.container {
    margin: 0 auto;
    max-width: 1315px;
    padding: 0 15px;
    width: 100%;
}

.division {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-column-gap: 10px;
}

.division-line {
    margin: auto;
    border: 1px solid #7E7E7E;
    display: inline-block;
    width: 100%;
}

.division-title {
    text-transform: uppercase;
    display: inline-block;
}

header {
    background: rgb(4,97,159);
    width: 100%;
}

.header-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
}

.jotha-logo-container {
    display: inline;
}

.jotha-logo {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.main-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0;
    margin: 0;
}

.main-menu-item {
    text-decoration: none;
    display: inline;
    margin-left: 30px;
}

.main-menu-item a {
    color: #fff;
    position: relative;
    text-decoration: none;
}


/* Services Page */
.services {
    margin-top: 20px;
}

.circle {
    margin: auto;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    color: #7E7E7E;
    border: 1px solid #7E7E7E;;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.images-container {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
}

.images {
    width:100%;
    height:100%;
}

.text-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.text {
    margin: auto;
    background: rgb(4,97,159);
    padding: 5px 15px;
}

.text span {
    color: #fff;
}

.items-container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 8%;
    grid-row-gap: 60px;
}

.item-title {
    margin: 0;
    font-size: 3em;
    color: dodgerblue;
}

.item-content {
    font-size: 20px;
}

.item-image {
    width: 100%;
    height: 65%;
}

#hamburgerId {
    display: none;
}

/* work page */
.work {
    margin-top: 20px;
}

/*  Contact us page  */
.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form {

}

.contact-data {

}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 15px;
}

.inputBox {
    position: relative;
    width: 100%;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(4,97,159);
    background: #fff;
    border-radius: 5px;
    outline: none;
    color: rgb(4,97,159);
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 7px 10px;
    pointer-events: none;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    color: rgb(4,97,159);
    text-transform: uppercase;
    transition: 0.5s;
  }

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: rgb(4,97,159);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.70em;
  padding: 0 10px;
  background: #fff;
  border-left: 1px solid rgb(4,97,159);
  border-right: 1px solid rgb(4,97,159);
  letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 1px solid rgb(4,97,159);
}

.form-button-container {
    margin: auto;
}

.form-button {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background: rgb(4,97,159);
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px rgb(4,97,159);
}

/* MOBILE CSS */

@media only screen and (max-width: 999px) {
    header.is-active {
        height: 120vh;
        position: fixed;
        top: 0;
        background: rgb(4,97,159);
        background: linear-gradient(180deg, rgba(4,97,159,1) 0%, rgba(211,211,211,1) 100%);
    }

    .header-container {
        display: inline-block;
    }

    header nav {
        justify-content: center;
    }

    .main-menu {
        list-style: none;
        position: relative;
    }

    ul.main-menu {
        display: none;
        flex-direction: column;
        padding: 0 0 55px;
        margin-top: 40px;
    }

    ul.main-menu.is-active {
        display: flex;
        align-items: center;
    }

    .main-menu.is-active li > a {
        animation: appear 0.3s both;
    }

    .main-menu.is-active li > a:hover {
        font-size: 40px;
        transition: all .5s ease;
    }

    .main-menu-item {
        margin: 0 0 30px 0;
        font-size: 32px;
        font-weight: bold;
    }

    .main-menu-item a {
        color: #fff;
        position: relative;
        text-decoration: none;
    }

    .hamburger {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #hamburgerId {
        display: inline-block;
    }

    @keyframes appear {
        0% {
          opacity: 0;
          translate: 0 50px;
        }
        100% {
          opacity: 1;
        }
      }

}