@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    box-sizing: border-box;
}

#page {
    padding-top: 0;
}

body {
    font-family: 'Questrial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcfbfb;
}

.container {
    margin: 0 auto;
    max-width: 1315px;
    padding: 0 15px;
    width: 100%;
}

.division {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-column-gap: 10px;
}

.division-line {
    margin: auto;
    border: 1px solid #7E7E7E;
    display: inline-block;
    width: 100%;
}

.division-title {
    text-transform: uppercase;
    display: inline-block;
}

header {
    background: #808080;
    width: 100%;
}

.header-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
}

.jotha-logo-container {
    display: inline;
}

.jotha-logo {
    height: 50px;
    width: 60px;
    margin: 10px;
}

.main-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0;
    margin: 0;
}

.main-menu-item {
    text-decoration: none;
    display: inline;
    margin-left: 30px;
}

.main-menu-item a {
    color: #e5e5e5;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}


/* Services Page */
.services {
    margin-top: 20px;
}

.circle {
    margin: auto;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    color: #7E7E7E;
    border: 1px solid #7E7E7E;
    ;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.images-container {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    justify-items: center;
}

.images {
    width: 100%;
    height: 100%;
}

.text-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
}

.text {
    margin: auto;
    background: #6D92A3;
    padding: 5px 15px;
    width: 80%;
    height: 2.5em;
    display: flex;
    justify-content: center;
}

.text span {
    color: #fff;
    align-self: center;
    font-size: 1.3em;
}

.items-container {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 8%;
    grid-row-gap: 60px;
}

.item-title {
    margin: 0;
    font-size: 3em;
    color: dodgerblue;
}

.item-content {
    font-size: 20px;
}

.item-image {
    width: 100%;
    height: 65%;
}

.card-rotation {
    background-color: transparent;
    width: 400px;
    height: 300px;
    perspective: 1000px;
}

.card-rotation-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-rotation:hover .card-rotation-content {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-back p {
    padding: 0 1em;
    line-height: 1.5em;
}

.card-front {       
    background: linear-gradient(-229deg, #7C98B3, #E7EFF9);
}

.card-back {
    background: linear-gradient(229deg, #97afc6, #c0c0c0);
    color: white;
    transform: rotateY(180deg);
}

.card-logo {
    width: 80px;
    height: 60px;
    top: 1em;
    position: fixed;
}

#hamburgerId {
    display: none;
}

/* work page */
.work {
    margin-top: 20px;
}

/*  Contact us page  */
.contact {
    background-color: #e5e5e5;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15em;
}

.contact-form {}

.contact-data {}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 15px;
}

.contact-form-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #6D92A3;
    font-size: 40px;
    letter-spacing: 4px;
}

.inputBox {
    position: relative;
    width: 100%;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #6D92A3;
    background: #e5e5e5;
    outline: none;
    color: #6D92A3;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 7px 10px;
    pointer-events: none;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    color: #6D92A3;
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #6D92A3;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.70em;
    padding: 0 10px;
    background: #e5e5e5;
    letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus {
    border: none;
    border-bottom: 1px solid #6D92A3;
}

.form-button-container {
    margin: auto;
}

.form-button {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background: #6D92A3;
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px #6D92A3;
}

.contact-data-container {
    background-color: #6D92A3;
    position: relative;
}

.contact-data-square {
    height: 50px;
    width: 60px;
    background-color: #fff;
    position: absolute;
    top: -1.5em;
    left: -1.5em;
}

.contact-data-title {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    padding: 24px 24px 0px 24px;
    margin-bottom: 0px;
}

.contact-data-info {
    display: flex;
    flex-direction: column;
    padding-left: 4em;
    color: #fff;
    column-gap: 2em;
}

.contact-data-info span {
    margin-top: 1em;
}

/* MOBILE CSS */

@media only screen and (max-width: 999px) {
    header.is-active {
        height: 120vh;
        position: fixed;
        top: 0;
        background: #6D92A3;
        background: linear-gradient(180deg, rgba(4, 97, 159, 1) 0%, rgba(211, 211, 211, 1) 100%);
    }

    .header-container {
        display: inline-block;
    }

    header nav {
        justify-content: center;
    }

    .main-menu {
        list-style: none;
        position: relative;
    }

    ul.main-menu {
        display: none;
        flex-direction: column;
        padding: 0 0 55px;
        margin-top: 40px;
    }

    ul.main-menu.is-active {
        display: flex;
        align-items: center;
    }

    .main-menu.is-active li>a {
        animation: appear 0.3s both;
    }

    .main-menu.is-active li>a:hover {
        font-size: 40px;
        transition: all .5s ease;
    }

    .main-menu-item {
        margin: 0 0 30px 0;
        font-size: 32px;
        font-weight: bold;
    }

    .main-menu-item a {
        color: #fff;
        position: relative;
        text-decoration: none;
    }

    .hamburger {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #hamburgerId {
        display: inline-block;
    }

    @keyframes appear {
        0% {
            opacity: 0;
            translate: 0 50px;
        }

        100% {
            opacity: 1;
        }
    }

}